
.jumbotron {
    background-image: url("https://images.unsplash.com/photo-1446071103084-c257b5f70672?crop=entropy&fit=crop&fm=jpg&h=675&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1275");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    padding: 10%;

}

.jumbotron h1 {
    color: white;
}

.portfolio {
    display:inline-block;
    vertical-align: middle;

}

.navbarcolor {
  margin: 0;
  background-color: #74d4b3;
}

.container-fluid {
    background-color: white;
}

.page-header h1 {
   
    font-weight: bold;
    color: #74d4b3;
}

.page-header p {
    padding: 1%;
    width: 75%;
}

.page-header img {
    float: center;
}

.navbar-default .navbar-brand {
    color: #74d4b3;
    font-weight: bold;
}

.footer {
    background-color: #74d4b3;
}

.footer {
    padding: 5%;
    color: white;
}

.footer img {

    display: inline-block;
}

.btn-danger,
.btn-danger:visited,
.btn-danger:active:focus {
    background-color: #74d4b3;
    border: #74d4b3;
}

.btn-danger:hover {
    background-color: #E8234D;
    border: #E8234D;
}


